.image-produit
{
    width: 30%;
    height: 30%;

    border-radius: 10px;
    align-self: center;
    margin-right: 3cm;
}

.container-produit-row
{
    display: flex;
    flex-direction: row;
    border: black 1px solid;
    margin: 1cm;
/*     padding: 1cm; */
    background-color: red;
    justify-content: center;
    align-content: center;
}

.container-produit-column
{
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
    border: black 1px solid;
}




.item-produit
{
    margin: 1cm;
    background-color: aqua;

}

/* pour les boutons quantite */

.container-boutons_quantite-row
{
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: center;
}

.container-boutons_groupes-boutons
{
    border: black 1px solid;

    display: flex;
    flex-direction: row;
    background-color: purple;
    justify-content: center;
    margin: 2cm;
}

.item-boutons_quantite
{
    flex-grow:0;
    flex-shrink: 1;
    margin: 0.3cm;
    font-size: 35px;
    text-align: center;
    border: none;
}

.item-boutons_number
{
    width: 2em;
}


/* ajustements ecran faible largeur */

@media all and (max-width: 1300px)
{
    .container-produit-row
    {
        flex-direction: column;
        background-color: violet;
    }

    .image-produit
    {
        width: 55%;
        height: 55%;
        margin-right: 0;

    }

    .container-boutons_quantite-row
    {
        flex-direction: column;
        background-color: blue;
    }
    .container-boutons_groupes-boutons
    {
        margin: 0.5cm;
    }


}