@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

html{
    font-family: Montserrat;
}

.bandeau{
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px white;

}

.conteneur{
    display: flex;
    gap: 10%;
}
.filtre{
    padding: 20px;
}

.filtre h3{
    padding-bottom: 15px;
}
.filtre h4{
    padding-bottom: 15px;
}

.case {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
  
.case input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid 1px black;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
.case:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.case input:checked ~ .checkmark:after {
    display: block;
}

.case .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.clear{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
    color: #C4C4C4;
    letter-spacing: -0.4px;
    padding-left: 10px;
}

.clear input{
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
}


.color1{background-color:blue ;}
.color2{background-color: red;}
.color3{background-color: orange ;}
.color4{background-color: yellow;}
.color5{background-color: green;}
.color6{background-color: pink ;}
.color7{background-color: purple;}
.color8{background-color: white;}
.color9{background-color: gray;}
.color10{background-color: black;}

.order1{order: 0;}
.order2{order:1;}

.cercle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.cercle:active {
    background-color: antiquewhite;
}

.lignecercle{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.boxcercle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
}

.box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 835px;
    height: 682px;
    left: 425px;
    top: 413px;
}

.filtreliste{
    border: 1px solid black;
    padding: 10px;
    color: #7c7c7c;
}

.listederoulante{
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
}

.ligne{
    display: flex;
    flex-wrap: nowrap;
}

.card{
    flex-wrap: none;
    flex-grow: 0;
    width: 265px;
    height: 311px;
    padding: 12px;
}

.image{
    background: #C4C4C4;
    width: 264px;
    height: 264px;
}

.title{
    left: 0%;
    right: 9.93%;
    top: 83.78%;
    bottom: 7.96%;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.prix{
    left: 0%;
    right: 43.75%;
    top:91.74%;
    bottom: 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.boutonbas{
    display: flex;
    justify-content: center;
}

.boutonplus{
    border: 2px solid black ;
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 935px) {
    
}

@media (max-width: 675px){
    .bandeau{
        background-color: white;
        color: #7c7c7c;
    }
    .conteneur{
        flex-direction:column ;
    }
    .case{
        flex-direction: column;
    }
    .boxfiltre{
        display: flex;
        flex-wrap: wrap;
    }
    .case{
        font-size: 15px;
        padding-right: 10px;
    }
    .boxcercle{
        display: flex;
        flex-direction: row;

    }
    .listederoulante{
        justify-content: center;
    }
    .ligne{
        flex-direction: column;
    }
    .box{
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 50px;
    }
}