.nav-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0em 15em 0em 15em;
    border-bottom: 1px solid black;

}

.nav-bar-element{
    text-align: center;
    min-width: 100%;
    
}

.nav-bar-items{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0em 1em 0em 1em
}

input{
    width: 50%;
    border: none;

}

div{
    align-items: center;   
}