@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}



.img-shop{
    padding-right: 5px;
}

.Header01{
    margin-top: 5em;
    text-align: center;
}

.Header01 a{
    font-size: 72px;
}

.Header04{
    margin: 0% 25%;
    text-align: center;
}

.Header04 a{
    font-size: 22px;
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    
}

.button {
    padding: 1% 5%;
    font-size: 20px;
    background: white;
    color: black;
    border: 1px solid black;
  }

.image-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.image-menu img{
    width: 80%;
}
